header {
    background-color: pink;
    color: black;
    padding: 20px;
    text-align: center;
    margin: 0 1.5cm;
    }
section {
    margin: 0 1.5cm;
    font-size: 16px;
    color: black;
}
footer {
    background-color: palevioletred;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0 1.5cm;
    font-size: 14px;
}